<web-app>
  <context-param>
    <param-name>version</param-name>
    <param-value>1.0</param-value>
  </context-param>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.servlet.LoginServlet</servlet-class>
    <init-param>
      <param-name>systemName</param-name>
      <param-value>学生管理系统</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>